<div class="col-md-10 center-block no-float form-login padding_top">

<div class="panel panel-info">
  <div class="panel-heading"><center>Uniones y Campos</center></div>
  
  <div class="panel-body">
    <div class="row">
      <div class="col-md-2">Union:</div>
      <div class="col-md-8"><%= @uni_aso.Union %></div>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-2">Campo:</div>
      <div class="col-md-8"><%= @uni_aso.Campo %></div>
    </div>
  </div>
</div>

<div class="actions">
  <a><%= link_to 'Back', uni_asos_path, :class=>" fa fa-arrow-circle-o-left fa-2x btn btn-border-info btn-rounded btn-lg" %></a>
</div>

</div>
